@page "/folder-management"
@inherits FolderManagementBase

<h3>FolderManagement</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
    </table>
</div>